html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(180deg, hsl(273, 75%, 66%) 0%, hsl(240, 73%, 65%) 100%);
  font-family: "Kumbh Sans", sans-serif;
  margin-top: 2.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(238, 29%, 16%);
  line-height: 1.24;
  padding-bottom: 1.25rem;
  text-align: center;
}
@media (min-width: 62.5rem) {
  h1 {
    text-align: left;
  }
}

p {
  font-size: 0.75rem;
  font-weight: 400;
  color: hsl(240, 6%, 50%);
  line-height: 1.5;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 2rem;
  margin-inline: 1.5rem;
  min-height: 100vh;
}
@media (min-width: 62.5rem) {
  .grid {
    position: relative;
  }
}

.container {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 1.5rem;
  margin: auto;
}
@media (min-width: 62.5rem) {
  .container {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 57.5rem;
    display: flex;
    flex-direction: column nowrap;
    justify-content: space-evenly;
    padding-bottom: 5.25rem;
    padding-top: 4.125rem;
    position: relative;
  }
}

.img-container {
  padding: 2.5rem 2.8125rem 5rem 2.8125rem;
}
@media (min-width: 62.5rem) {
  .img-container {
    flex-basis: 50%;
    align-self: flex-start;
    padding: 0;
  }
}

main {
  position: relative;
  max-width: 62.5rem;
  margin: auto;
}

.faq__image,
.faq__image-shadow,
.faq__image-box {
  background-repeat: no-repeat;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 15rem;
}
@media (min-width: 62.5rem) {
  .faq__image,
.faq__image-shadow,
.faq__image-box {
    width: 12.5rem;
    overflow-x: visible;
  }
}

.faq__image {
  height: 11.5rem;
  left: 50%;
  top: -1rem;
  z-index: 2;
}
@media (min-width: 62.5rem) {
  .faq__image {
    height: 22.5rem;
    left: 0;
    top: 50%;
  }
}

.faq__image-shadow {
  left: 50%;
  top: 3rem;
  height: 6.6875rem;
  z-index: 1;
}
@media (min-width: 62.5rem) {
  .faq__image-shadow {
    height: auto;
    left: -53%;
    top: 37.25%;
  }
}

.faq__image-box {
  display: none;
}
@media (min-width: 62.5rem) {
  .faq__image-box {
    display: block;
    left: -0.5rem;
    top: 58%;
    z-index: 3;
  }
}

.accordion {
  padding: 0 1.5rem 3rem 1.5rem;
}
@media (min-width: 62.5rem) {
  .accordion {
    flex-basis: 50%;
    align-self: flex-end;
    padding: 0 6rem 0 1rem;
  }
}

.accordion h2 {
  border-bottom: 1px solid hsl(240, 5%, 91%);
  display: grid;
  grid-template-columns: 1fr;
  min-width: 14.6875rem;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}

.accordion h2.active {
  border-bottom: none;
}

.accordion__trigger {
  background-color: hsl(0, 0%, 100%);
  border: none;
  cursor: pointer;
  display: grid;
  font-family: "Kumbh Sans", sans-serif;
  grid-template-columns: 1fr 1rem;
  gap: 1rem;
  justify-content: space-between;
  padding: 0;
}

.accordion__trigger:focus {
  outline: 4px solid transparent;
}

.accordion__heading {
  font-size: 0.8125rem;
  font-weight: 400;
  color: hsl(237, 12%, 33%);
  line-height: 1.24;
  text-align: left;
}
.accordion__heading:hover {
  color: hsl(14, 88%, 65%);
}

.accordion__icon {
  margin-left: auto;
}

.accordion__content {
  border-bottom: 1px solid hsl(240, 5%, 91%);
  padding-right: 2rem;
  min-width: 14.6875rem;
  padding-bottom: 1rem;
}

.accordion__trigger[aria-expanded=true] .accordion__heading {
  font-size: 0.8125rem;
  font-weight: 700;
  color: hsl(238, 29%, 16%);
}

.accordion__trigger[aria-expanded=true] .accordion__icon {
  transform: rotate(-180deg);
}

.attribution {
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
}
.attribution p {
  font-size: 0.75rem;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
}
.attribution a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
.attribution a:hover {
  color: hsl(14, 88%, 65%);
}

/*# sourceMappingURL=styles.css.map */
