// ___________________________________________________________________
// Header
// ___________________________________________________________________

@use '../utilities/variables' as *;

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

header img {
  position: absolute;
  max-width: 14.8125rem;
  padding-bottom: 132px;
}

