// ___________________________________________________________________
// Main - Section Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

main {
  position: relative;
  max-width: 62.5rem;
  margin-top: 9rem;

  @media #{$brkpoint-md}{
    margin: auto;
  }
}

.faq__image,
.faq__image-shadow,
.faq__image-box {
  background-repeat: no-repeat;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 15rem;

  @media #{$brkpoint-md} {
    width: 12.5rem;
    overflow-x: visible;
  }
}

.faq__image {
  height: 11.5rem;
  left: 50%;
  top: -1rem;
  z-index: 2;

  @media #{$brkpoint-md} {
    height: 22.5rem;
    left: 1.5rem;
    top: 50%;
  }
}

.faq__image-shadow {
  left: 50%;
  top: 3rem;
  height: 6.6875rem;
  z-index: 1;

  @media #{$brkpoint-md} {
    height: auto;
    left: -51%;
    top: 37.25%;
  }
}

.faq__image-box {
  display: none;

  @media #{$brkpoint-md} {
    display: block;
    left: 0.5rem;
    top: 60%;
    z-index: 3;
    height: auto;
  }
}

.accordion {
  height: 100%;
  padding: 0 1.5rem 3rem 1.5rem;

  @media #{$brkpoint-md} {
    margin-top: 4.0625rem;
    padding: 0 6rem 0 1rem;
  }
}

.accordion h2 {
  border-bottom: 1px solid $color-divider;
  display: grid;
  grid-template-columns: 1fr;
  min-width: 14.6875rem;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}

.accordion h2.open {
  border-bottom: none;
}

.accordion__button {
  background-color: $color-bg-secondary;
  border: none;
  cursor: pointer;
  display: grid;
  font-family: $font-family--primary;
  grid-template-columns: 1fr 1rem;
  gap: 1rem;
  justify-content: space-between;
  padding: 0;
}

h2.accordion__button:focus {
  outline: 4px solid transparent;
}

.accordion__heading {
  @include text($headingS, $font-weight--regular, $color-text-secondary);
  line-height: $line__heading;
  text-align: left;

  &:hover{
    color: $color-text-hover;
  }
}

.accordion__icon {
  margin-left: auto;
}

.accordion__content.open-active {
  border-bottom: 1px solid $color-divider;
  padding-right: 2rem;
  min-width: 14.6875rem;
  padding-bottom: 1rem;
  overflow: auto;
}

.accordion__button[aria-expanded="true"] .accordion__heading {
  @include text($headingS, $font-weight--bold, $color-text-active);
}

.accordion__button[aria-expanded="true"] .accordion__icon {
  transform: rotate(180deg);
}
