// ___________________________________________________________________
// Main - Section Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

main {
  position: relative;
}

.faq__image,
.faq__image-shadow {
  background-repeat: no-repeat;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 15rem;
}

.faq__image {
  background-image: url('images/illustration-woman-online-mobile.svg');
  height: 11.25rem;
  left: 50%;
  top: -1rem;
  z-index: 2;
}

.faq__image-shadow {
  background-image: url('images/bg-pattern-mobile.svg');
  left: 50%;
  top: 3rem;
  height: 6.6875rem;
  z-index: 1;
}

.accordion h2 {
  padding-bottom: 1.25rem;
  min-width: 14.6875rem;
  display: grid;
  grid-template-columns: 1fr;
}

.accordion__trigger {
  background-color: $color-bg-secondary;
  font-family: $font-family--primary;
  border: none;
  display: grid;
  grid-template-columns: 1fr 1rem;
  gap: 1rem;
  justify-content: space-between;
}

.accordion__heading {
  text-align: left;
}

.accordion__icon {
  margin-left: auto;
}
